.header__logo {
    box-sizing: border-box;
    width: 78px;
    font-size: 43px;
}
.header__inner {
    position: static;
    padding-bottom: 80px;
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__nav {
    position: static;
    bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.54px;
    list-style-type: none;
    gap: 50px;
    line-height: normal;
}
.header__link {
    text-decoration: none;
    transition: all .07s;
    color: #FFF;
}
.header__link:hover {
    color: #1bff07;
}
.header {
    background-image: url('../resourses/sm1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.header__wrapper {
    margin-bottom: 29px;
    max-width: 400px;
    height: 103px;
}
.header__text { 
    position: static;
    padding-bottom: 175px;
    max-width: 400px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #FFF;
}
.header__title {
    max-width: 800px;
    padding-bottom: 30px;
    line-height: normal;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; 
    letter-spacing: -2.4px;
    color: #1bff07;
}
@media (max-width: 961px) {
    .header {
        background-position: 40%;
    }
    .header__title {
        font-size: 60px;
        max-width: 727px;
    }
    .header__text {
        max-width: 300px;
    }
    .header__link {
        display: none;
    }
}
@media (max-width: 576px) {
    .header__title {
        line-height: 50px;
        font-size: 40px;
        max-width: 400px;
    }
    .header__text {
        font-size: 18px;
        letter-spacing: -0.45px;
        max-width: 200px;
    }
    .header__logo {
    width: 60px;
}
}